<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리얼타임아시아-서울</title>
    <!-- <link rel="icon" href="favicon.ico"> 파비콘 넣을 때 -->
    <link href="C:\Users\user\Desktop\NEW\templates\css\seoul.css" rel="stylesheet">
</head>

<body>
    <div class="frame">
        <div class="header">
          <div class="logo">LOGO</div>
        </div>
        <!-- //header -->
        <div class="container">
          <div class="nav">
            <ul class="nav-list">
              <li class="nav-item"><a href="index.html" class="nav-link">리얼타임아시아</a></li>
              <li class="nav-item"><a href="seoul.html" class="nav-link" style="background: #5457de;">서울</a></li>
              <li class="nav-item"><a href="hongkong.html" class="nav-link">홍콩</a></li>
              <li class="nav-item"><a href="bangkok.html" class="nav-link">방콕</a></li>
            </ul>
          </div>
          <!-- //nav -->
          <div class="content1">
            <h1>서울</h1>
            <p>
              여행을 가기 힘든 요즘, 여행을 떠나고 싶어질 때...
            </p>
            <p>
              그래서 "리얼타임아시아" 에서 '서울' '홍콩' '방콕' 실시간 거리 영상을 모아봤습니다.
            </p>
          </div>
          
          <div class="content2">
            <h1>Top3 관광지</h1>
          </div>
        </div>
        <!-- //container -->
        <div class="footer">
          <p class="copyright">&copy;리얼타임아시아</p>
        </div>
        <!-- //footer -->
      </div>
      <!-- //frame -->
</body>

</html>

